<div id="postcode-map" class="float-left"></div>
<div id='details' class='float-left'>
	<h2>Your communities risk level is:</h2>
	<div id='bucket'></div>
	<div>This is an indication of how your community is scored when comparing risk factors for early childhood development.</div>
	<p>
		<h2>What can you do to make sure your child has the best start to life?</h2>
		<div>There are three main drivers that have a significant affect on your childs development</div>
	</p>
	<p>
		<h2>Quit Smoking</h2>
		<div>Smoking while pregnant or around a child plays a significant role in their early development</div>
		<div>For help on how to quit please visit <a href='http://www.quitsa.org.au/'>Quit SA</a> or phone 13 78 48.</div>
	</p>
	<p>
		<h2>Access to transport</h2>
		<div>You don't have to feel isolated or stuck. If you don't have access to transport you may be eligible for the Child and Family Health Family Home Visiting service.</div>
		<div>Please see <a href='http://www.cyh.com/SubContent.aspx?p=134'>Family Home Visiting</a> page for more detail.</div>
	</p>
	<p>
		<h2>Ability to afford medicine</h2>
		<div>If you have to put off purchasing medicine because you cannot afford it, you may be eligible for a health care card. Please see the Department of Human Services page on <a href='http://www.humanservices.gov.au/customer/subjects/concession-and-health-care-cards'>Concession and health care cards</a></div>
	</p>
	<p>
		<h2>Child and Family Health Services</h2>
		<div>The Child and Family Health Service centres promote the health, well-being and development of children, young people and families across South Australia by providing:</div>
		<ul class="normallist">
			<li>support to parents in areas of parenting</li>
			<li>health services for infants, children and young people</li>
			<li>support for families and children with additional needs</li>
			<li>up-to-date health information for parents, children and young people</li>
		</ul>
		<br/>
		<div>For more information please visit one of the nearby CaFHS centres or go to <a href="http://www.cyh.com">http://www.cyh.com</a></div>
		<ul id='cafhsAddress' class="normallist"></ul>
	</p>
	<div style='margin-top:20px;'>
		<a id='get-button' class='fancy-button' href='#/index' action-type='button' action-desc='Search Again'>Search Again</a>
	</div>
</div>