extend layout	
block content
	.panel(id='webapp', ng-app='webapp')
		.panel-content
			h1 AEDI Visual Dashboard
			.instructions We've built this dashboard which you can access and interact with
			.instructions You can either view it in your browser, or use the Tableau iPad app <a href='https://itunes.apple.com/au/app/tableau-mobile/id434633927?mt=8'><img src='/images/app_store_logo.png' /></a>
			h2 Login Instructions
			.instructions When asked for your login details please use the following account information:
				ul
					li Username: <strong>view</strong>
					li Password: <strong>view</strong>
			a.fancy-button(href='http://unleashed2013.org:81/views/InterventionsAgainstTheyKeyNegativeDriversofAEDIv2/CurrentStateDashboard') Launch Geographic Data Visualisation
			a.fancy-button(href='http://unleashed2013.org:81/views/InterventionsAgainstTheyKeyNegativeDriversofAEDIv2/InteractiveDashborad') Launch Intervention Modeling
			a(href='href='http://unleashed2013.org:81/views/InterventionsAgainstTheyKeyNegativeDriversofAEDIv2/CurrentStateDashboard')
				img(src='/images/tableau.png',style='margin-top:20px;width:100%;')