extend layout	
block script
	script(type='text/javascript', src='/js/app.js')
	script(type='text/javascript', src='/js/controller.js')
block content
	.panel(id='webapp', ng-app='webapp')
		.panel-content
			div(ng-view)